<meta charset="UTF-8"> 

<div class="panelSuperior" >
    <div class="panel panel-default" ng-controller="cadastroMalaDiretaCtrl as vm">
        <div class="panel-heading">
            <h1 class="panel-title" style="font-weight:bold;color:gray">Cadastro de Mala Direta</h1>
        </div>
        <form novalidate name="vm.formMalaDireta" class="form-horizontal" role="form" style="margin:12px"> 
            <div class="form-group">
                <label for="nome" class="control-label col-sm-2" style="text-align:left;font-weight:unset">Nome:</label>
                <div class="col-sm-10">
                    <input name="nome" type="text" class="form-control" placeholder="Informe o nome da mala direta" ng-model="vm.malaDireta.nome" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="rendaInicial" class="control-label col-sm-2" style="text-align:left;font-weight:unset">Faixa Renda Inicial:</label>
                <div class="col-sm-4">
                    <input name="rendaInicial" type="text" class="form-control" maxlength="15" placeholder="Informe a faixa de renda inicial" ng-model="vm.malaDireta.faixaRendaInicial" ng-required="true" ui-money-mask>
                </div>
                <label for="rendaFinal" class="control-label col-sm-2" style="text-align:right;font-weight:unset">Faixa Renda Final:</label>
                <div class="col-sm-4">
                    <input name="rendaFinal" type="text" class="form-control" maxlength="15" placeholder="Informe a faixa de renda final" ng-model="vm.malaDireta.faixaRendaFinal" ng-required="true" ui-money-mask>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" style="text-align:center;margin-bottom:10px" ng-show="vm.formMalaDireta.nome.$error.required && vm.formMalaDireta.nome.$dirty">
                    <span class="form-control alert-danger">O campo Nome é obrigatório.</span>
                </div>
                <div class="col-sm-12" style="text-align:center;margin-bottom:10px" ng-show="vm.formMalaDireta.faixaRendaInicial.$error.required && vm.formMalaDireta.faixaRendaInicial.$dirty">
                    <span class="form-control alert-danger">O campo Faixa Renda Inicial é obrigatório.</span>
                </div>
                <div class="col-sm-12" style="text-align:center;margin-bottom:10px" ng-show="vm.formMalaDireta.faixaRendaFinal.$error.required && vm.formMalaDireta.faixaRendaFinal.$dirty">
                        <span class="form-control alert-danger">O campo Faixa Renda Final é obrigatório.</span>
                    </div>
                <div class="col-sm-12" style="text-align:center">
                    <button class="btn btn-success" ng-click="vm.gravar(vm.malaDireta)" ng-disabled="vm.formMalaDireta.$invalid">Cadastrar</button
                ></div>
            </div>
        </form>
    </div>
</div>