<meta charset="UTF-8">

<div style="margin-right:8px" ng-controller="listaMalasDiretasCtrl as vm">
    <div class="panel panel-default panel-table" style="height:400px">
        <div class="panel-heading">
            <h1 class="panel-title" style="font-weight:bold;color:gray">Malas Diretas</h1>
        </div>
        <div class="panel-body" style="margin:-16px">
            <table class="table table-bordered table-list" ng-show="vm.malasDiretas.length">
                <th style="font-weight:bold;background-color:#f5f5f5">Faixa de Renda</th>
                <th style="text-align:center;background-color:#f5f5f5" colspan="2">Ações</th>

                <tr style="height:45.85px" ng-repeat="malaDireta in vm.malasDiretas" ng-controller="editaMalaDiretaCtrl as editCtrl">
                    <td align="center" style="color:gray;width:300px">
                        <div ng-show="!editarMalaDireta">
                            <a href="" ng-click="vm.listarClientesMalaDireta(malaDireta)">{{malaDireta.faixaRendaInicial | currency}} - {{malaDireta.faixaRendaFinal | currency}}</a>
                        </div>
                        <div ng-show="editarMalaDireta" ng-form name="editCtrl.formEdicao">
                            <input name="faixaInicial" type="text" maxlength="15" ng-model="malaDireta.faixaRendaInicial" focado="{{editarMalaDireta}}" style="text-align:right;width:142px;border:none" ng-required="true" ui-money-mask /> -
                            <input name="faixaFinal" type="text" maxlength="15" ng-model="malaDireta.faixaRendaFinal" style="text-align:left;width:142px;border:none" ng-required="true" ui-money-mask />
                            <span class="form-control alert-danger" ng-show="editCtrl.formEdicao.faixaInicial.$error.required && editCtrl.formEdicao.faixaInicial.$dirty">O campo Faixa Renda Inicial é obrigatório.</span>
                            <span class="form-control alert-danger" ng-show="editCtrl.formEdicao.faixaFinal.$error.required && editCtrl.formEdicao.faixaFinal.$dirty">O campo Faixa Renda Final é obrigatório.</span>
                        </div>
                    </td>
                    <td style="text-align:center;vertical-align:middle;width:42px">                        
                        <a href=""><span ng-class="{'glyphicon glyphicon-floppy-save':editarMalaDireta,'glyphicon glyphicon-pencil':!editarMalaDireta}" style="color:black" ng-mousedown="editarMalaDireta=!editarMalaDireta" ng-click="editCtrl.gravar(editarMalaDireta, malaDireta)"></span></a>
                    </td>
                    <td style="text-align:center;vertical-align:middle;width:42px">
                        <a href=""><span class="glyphicon glyphicon-ban-circle" style="color:black" ng-click="vm.excluir(malaDireta)"></span></a>
                    </td>
                </tr>
            </table>
            <div class="form-control alert-info" ng-show="!vm.malasDiretas.length">Nenhuma mala direta foi localizada.</div>
        </div>
    </div>
</div>